.heading{
    display: flex;
    text-align: center;
    font-size: 30px;
    flex-direction: row;
    margin-bottom: 50px;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 10px;
}
.title{
    flex-grow: 3 ;
}
.icon{
}
.container{
    display: grid;
    text-align: center;
    grid-row-gap: 50px;
}
.card{
    display: grid;
    grid-template-rows: 3fr 1fr ;
}
.gitem{
    margin: 0px 10px 0px 10px;
    padding: 10px 0px 10px 0px;
    border-radius: 10px;
    background-color: aqua;
}
.layout{
    text-align: center;
    background-color:brown;
}
