@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 90px;
}

#submission_title {
  color: #382828;
  font-weight: 600;
  font-size: 1.2rem;
  font-family: "Karla", sans-serif;
}

.scenario_lists {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  font-family: "Karla", sans-serif;
}

.scenarios {
  background-color: #6a88f4;
  padding: 30px;
  border-radius: 8px;
}

.scenarioNo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  font-weight: 800;
  font-size: 1.1rem;
}

.attempts {
  font-weight: bold;
  text-transform: capitalize;
  font-size: 1em;
}

.submission {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.submissionNo {
  width: 280px;
  padding: 30px;
  background-color: white;
  border-radius: 8px;
  color: #383838;
}

.submission-time {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#time {
  color: #707070;
}
