<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="scenario.css">
    <link rel="stylesheet" href="../styles/reset.css">
  </head>
  <body>
    <header class="heading">
      <span class="fi">learn</span>
      <span class="se">SBAR</span>
    </header>
    <div class="container">
      <div class="scenariono">Scenario 1</div>
      <div class="video">
        <video controls>
          <source type="video/mp4" src="../Zack Snyders Justice League (2021) [1080p] [WEBRip] [5.1] [YTS.MX]/GOPR5507.MP4">
        </video>
      </div>
      <label class="la">scenario explaination video</label>
    </div>
    <div class="buttons">
        <button class="na">New <br>Attempt</button>
        <button class="ps">Previous <br>Submissions</button>
    </div>    
  </body>
</html>
